body{
  font-family: sans-serif;
}

.logo {
  height: 16vh;
  margin: 4px auto 0px auto;
}

#logo-tagline {
  margin:1% 0px 0px 1%;
  text-align: center;
  width: 90vw;
}

.table {
  margin: 8px auto;
  width: 90%;
  padding: 1em;
}

p {
  margin-top: 0px;
}

h1{
  margin-bottom: 0px;
  text-shadow: 0.5px 0.5px #FC52D2, -0.5px -0.5px #21EDF4;
}

h2 {
  margin-bottom: 0px;
}

header {
  border: 4px solid #000000;
  box-shadow: 2px 2px #FC52D2, -2px -2px #21EDF4;
}

#tagline {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 4px;
}

header > .menu-links {
  text-align: center;
}

.menu-links a {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  width: 104px;
  line-height: 38px;
  padding: 4px 13px;
  text-decoration: none;
  box-shadow: 2px 2px #FC52D2, -2px -2px #21EDF4;
}

.quote-name {
  margin-top: 0px;
}

.active-link {
  background-color: #FC52D2;
}

.menu-links a:hover {
  background-color: #FC52D2;
}

.social-media-links > a > img {
  width: 42px;
  margin: 8px 0px;
  padding: 0px;
  border: 1px #000000 solid;
  box-shadow: 2px 2px #FC52D2, -2px -2px #21EDF4;
}

footer {
  text-align: center;
}

.contact-card > p {
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #FC52D2;
}

.top {
  margin-top: 0px;
}
